<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chouchongkeji.dial.dao.backpack.consignment.ConsignmentMapper">
  <resultMap id="BaseResultMap" type="com.chouchongkeji.dial.pojo.backpack.consignment.Consignment">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="bp_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="target_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="quantity" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="price" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="type" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="status" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="updated" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="created" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMap" type="com.chouchongkeji.service.backpack.consignment.vo.PriceVo">
    <result column="newset" property="newset"/>
    <result column="hight" property="hight"/>
    <result column="low" property="low"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, bp_id, user_id, target_id, quantity, price, type, status, updated, created
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from consignment
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectByTargetIdType" resultMap="ResultMap">
         SELECT
	( SELECT price FROM consignment WHERE target_id = #{targetId} AND type = #{type} ORDER BY id DESC LIMIT 1 ) AS newset,
	( SELECT price FROM consignment WHERE target_id = #{targetId} AND type = #{type} ORDER BY price DESC LIMIT 1 ) AS hight,
	( SELECT price FROM consignment WHERE target_id = #{targetId} AND type = #{type} ORDER BY price ASC LIMIT 1 ) AS low
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from consignment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chouchongkeji.dial.pojo.backpack.consignment.Consignment">
    insert into consignment (id, bp_id, user_id, 
      target_id, quantity, price, 
      type, status, updated, 
      created)
    values (#{id,jdbcType=INTEGER}, #{bpId,jdbcType=BIGINT}, #{userId,jdbcType=INTEGER}, 
      #{targetId,jdbcType=INTEGER}, #{quantity,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL}, 
      #{type,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, #{updated,jdbcType=TIMESTAMP}, 
      #{created,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.chouchongkeji.dial.pojo.backpack.consignment.Consignment">
    insert into consignment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="bpId != null">
        bp_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="targetId != null">
        target_id,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="updated != null">
        updated,
      </if>
      <if test="created != null">
        created,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bpId != null">
        #{bpId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="targetId != null">
        #{targetId,jdbcType=INTEGER},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chouchongkeji.dial.pojo.backpack.consignment.Consignment">
    update consignment
    <set>
      <if test="bpId != null">
        bp_id = #{bpId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="targetId != null">
        target_id = #{targetId,jdbcType=INTEGER},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="updated != null">
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chouchongkeji.dial.pojo.backpack.consignment.Consignment">
    update consignment
    set bp_id = #{bpId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=INTEGER},
      target_id = #{targetId,jdbcType=INTEGER},
      quantity = #{quantity,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      type = #{type,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      updated = #{updated,jdbcType=TIMESTAMP},
      created = #{created,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>