<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chouchongkeji.dial.dao.gift.item.ItemCommentMapper">
  <resultMap id="BaseResultMap" type="com.chouchongkeji.dial.pojo.gift.item.ItemComment">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="sku_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="item_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="order_no" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="star" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="content" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="pictures" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="created" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="updated" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, sku_id, item_id, order_no, user_id, star, content, pictures, created, updated
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from item_comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from item_comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chouchongkeji.dial.pojo.gift.item.ItemComment">
    insert into item_comment (id, sku_id, item_id,
      order_no, user_id, star,
      content, pictures, created,
      updated)
    values (#{id,jdbcType=INTEGER}, #{skuId,jdbcType=INTEGER}, #{itemId,jdbcType=INTEGER},
      #{orderNo,jdbcType=BIGINT}, #{userId,jdbcType=INTEGER}, #{star,jdbcType=INTEGER},
      #{content,jdbcType=VARCHAR}, #{pictures,jdbcType=VARCHAR}, now(),
      now())
  </insert>
  <insert id="insertSelective" parameterType="com.chouchongkeji.dial.pojo.gift.item.ItemComment">
    insert into item_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="skuId != null">
        sku_id,
      </if>
      <if test="itemId != null">
        item_id,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="star != null">
        star,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="pictures != null">
        pictures,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="updated != null">
        updated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="skuId != null">
        #{skuId,jdbcType=INTEGER},
      </if>
      <if test="itemId != null">
        #{itemId,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="star != null">
        #{star,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="pictures != null">
        #{pictures,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chouchongkeji.dial.pojo.gift.item.ItemComment">
    update item_comment
    <set>
      <if test="skuId != null">
        sku_id = #{skuId,jdbcType=INTEGER},
      </if>
      <if test="itemId != null">
        item_id = #{itemId,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="star != null">
        star = #{star,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="pictures != null">
        pictures = #{pictures,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null">
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chouchongkeji.dial.pojo.gift.item.ItemComment">
    update item_comment
    set sku_id = #{skuId,jdbcType=INTEGER},
      item_id = #{itemId,jdbcType=INTEGER},
      order_no = #{orderNo,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=INTEGER},
      star = #{star,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      pictures = #{pictures,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      updated = #{updated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <!--商品详情字段-->
  <resultMap id="ItemComment" type="com.chouchongkeji.service.mall.item.vo.ItemCommentVo">
    <result column="content" property="content"/>
    <result column="phone" property="phone"/>
    <result column="avatar" property="avatar"/>
    <result column="star" property="star"/>
    <result column="created" property="created"/>
    <result column="pictures" property="pictures"
            typeHandler="com.chouchongkeji.goexplore.handler.PicturesHandler"/>
  </resultMap>

  <select id="selectByItemId" resultMap="ItemComment">
    SELECT
      a.content as content,
      a.pictures as pictures,
      a.created as created,
      b.id as userId,
       b.nickname,
      a.star as star,
      b.phone as phone,
      b.avatar as avatar
    FROM
      item_comment a LEFT JOIN app_user b ON a.user_id = b.id
    WHERE
      a.item_id = #{id}
  </select>

</mapper>
