<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chouchongkeji.dial.dao.user.memo.MemoAffairMapper">
    <resultMap id="BaseResultMap" type="com.chouchongkeji.dial.pojo.user.memo.MemoAffair">
        <constructor>
            <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="target_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="title" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="detail" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="users" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="created" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="updated" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="count" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_id, target_time, title, detail, users, created, updated, `count`, is_circulation ,event_type_id
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from memo_affair
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByUserIdAndDate" resultType="com.chouchongkeji.service.user.memo.vo.MemoItemVo">
        SELECT
        a.*,
        b.avatar,
        b.nickname
        FROM
        (
        SELECT
        a.id,
        a.user_id,
        a.is_circulation,
        a.target_time,
        a.detail,
        a.users,
        a.created,
        a.event_type_id,
        a.`count`,
        b.name as eventTypeName,
        1 as type
        FROM
        memo_affair a
        left join memo_event_type b  on a.event_type_id = b.id
        WHERE
        a.user_id = #{userId}
        UNION all
        SELECT
        a.id,
        a.user_id,
        a.is_circulation,
        a.target_time,
        a.detail,
        a.users,
        a.created,
        a.event_type_id,
        a.`count`,
        b.name as eventTypeName,
        2 as type
        FROM
        memo_affair a
        left join memo_event_type b  on a.event_type_id = b.id
        WHERE
        FIND_IN_SET(#{userId}, a.users )
        ) a
        LEFT JOIN app_user b ON b.id = a.user_id
        <where>
            <trim suffixOverrides="and">
               a.is_circulation = 0 and
                <if test="start>0">
                    UNIX_TIMESTAMP( a.target_time ) > #{start} and
                </if>
                <if test="end>0">
                    UNIX_TIMESTAMP( a.target_time )
                    &lt; #{end} and
                </if>
            </trim>
        </where>
        ORDER BY
        a.created DESC
    </select>
    <select id="selectFriendByUserIdAndDate" resultType="com.chouchongkeji.service.user.memo.vo.MemoItemVo">
        SELECT
        id,
        user_id,
        is_circulation,
        target_time,
        detail,
        users,
        created,
        event_type_id,
        `count`,
        FROM
        `memo_affair` a
        LEFT JOIN app_user b ON b.id = a.user_id
        WHERE
        user_id = #{userId}
        <where>
            <trim suffixOverrides="and">
                <if test="start>0">
                    UNIX_TIMESTAMP( a.target_time ) > #{start} and
                </if>
                <if test="end>0">
                    UNIX_TIMESTAMP( a.target_time )
                    &lt; #{end} and
                </if>
            </trim>
        </where>
        ORDER BY
        created DESC
    </select>
    <select id="selectLastByUserId" resultType="com.chouchongkeji.service.user.memo.vo.HomeMemoItemVo">
    SELECT
    a.*,
    ( UNIX_TIMESTAMP( a.target_time ) - #{start} ) / ( 86400 ) AS days,
    b.avatar,
    b.nickname
    FROM
    (
    SELECT
    id,
    user_id,
    target_time,
    detail,
    is_circulation,
    created,
    event_type_id,
    `count`,
    1 as type
    FROM
    memo_affair
    WHERE
    user_id = #{userId}
    union
    SELECT
    id,
    user_id,
    target_time,
    detail,
    is_circulation,
    created,
    event_type_id,
   `count`,
    1 as type
    FROM
    memo_affair
    WHERE
    FIND_IN_SET( #{userId}, users )
    ) a
    LEFT JOIN app_user b ON b.id = a.user_id
    WHERE
    UNIX_TIMESTAMP( a.target_time ) >= #{start}
    and unix_timestamp(a.target_time) &lt; #{end} + 604800
    and is_circulation = 0
    ORDER BY
    a.target_time

  </select>
    <select id="selectAllCByUserId" resultType="com.chouchongkeji.service.user.memo.vo.MemoItemVo">

SELECT
  a.*,
  b.avatar,
  b.nickname
FROM
  (
    SELECT
      a.id,
      a.user_id,
      a.is_circulation,
      a.target_time,
      a.detail,
      a.users,
      a.created,
      a.event_type_id,
      a.`count`,
      b.name as eventTypeName,
      1 as type
    FROM
      memo_affair a
    left join memo_event_type b  on a.event_type_id = b.id
    WHERE
        a.user_id = #{userId}
    UNION all
    SELECT
      a.id,
      a.user_id,
      a.is_circulation,
      a.target_time,
      a.detail,
      a.users,
      a.created,
      a.event_type_id,
      a.`count`,
      b.name as eventTypeName,
      2 as type
    FROM
     memo_affair a
      left join memo_event_type b  on a.event_type_id = b.id
    WHERE
      FIND_IN_SET(#{userId}, a.users )
        ) a
      LEFT JOIN app_user b ON b.id = a.user_id
     where
                is_circulation = 3

    </select>
    <select id="selectAllByUserIdWeek" resultType="com.chouchongkeji.service.user.memo.vo.MemoItemVo">
        SELECT
  a.*,
  b.avatar,
  b.nickname
FROM
  (
    SELECT
      a.id,
      a.user_id,
      a.is_circulation,
      a.target_time,
      a.detail,
      a.users,
      a.created,
      a.event_type_id,
      a.`count`,
      b.name as eventTypeName,
      1 as type
    FROM
      memo_affair a
    left join memo_event_type b  on a.event_type_id = b.id
    WHERE
        a.user_id = #{userId}
    UNION all
    SELECT
      a.id,
      a.user_id,
      a.is_circulation,
      a.target_time,
      a.detail,
      a.users,
      a.created,
      a.event_type_id,
      a.`count`,
      b.name as eventTypeName,
      2 as type
    FROM
     memo_affair a
      left join memo_event_type b  on a.event_type_id = b.id
    WHERE
      FIND_IN_SET(#{userId}, a.users )
        ) a
      LEFT JOIN app_user b ON b.id = a.user_id
     where
                is_circulation = 1

    </select>
    <select id="selectAllByUserIdMonth" resultType="com.chouchongkeji.service.user.memo.vo.MemoItemVo">

SELECT
  a.*,
  b.avatar,
  b.nickname
FROM
  (
    SELECT
      a.id,
      a.user_id,
      a.is_circulation,
      a.target_time,
      a.detail,
      a.users,
      a.created,
      a.event_type_id,
      a.`count`,
      b.name as eventTypeName,
      1 as type
    FROM
      memo_affair a
    left join memo_event_type b  on a.event_type_id = b.id
    WHERE
        a.user_id = #{userId}
    UNION all
    SELECT
      a.id,
      a.user_id,
      a.is_circulation,
      a.target_time,
      a.detail,
      a.users,
      a.created,
      a.event_type_id,
      a.`count`,
      b.name as eventTypeName,
      2 as type
    FROM
     memo_affair a
      left join memo_event_type b  on a.event_type_id = b.id
    WHERE
      FIND_IN_SET(#{userId}, a.users )
        ) a
      LEFT JOIN app_user b ON b.id = a.user_id
     where
                is_circulation = 2
    </select>
    <select id="selectAllByUserId" resultType="com.chouchongkeji.service.user.memo.vo.MemoItemVo">
        SELECT
        a.*,
        b.avatar,
        b.nickname
        FROM
        (
        SELECT
        id,
        user_id,
        is_circulation,
        target_time,
        detail,
        users,
        created,
                event_type_id,
         `count`,
        1 as type
        FROM
        memo_affair
        WHERE
        user_id = #{userId}
        UNION
        SELECT
        id,
        user_id,
        is_circulation,
        target_time,
        detail,
        users,
        created,
                event_type_id,
         `count`,
        2 as type
        FROM
        memo_affair
        WHERE
        FIND_IN_SET( #{userId}, users )
        ) a
        LEFT JOIN app_user b ON b.id = a.user_id
     where
                is_circulation != 0
    </select>
    <select id="selectAllByUserIdKeyword" resultType="com.chouchongkeji.service.user.memo.vo.MemoItemVo">

        SELECT
  a.*,
  b.avatar,
  b.nickname
FROM
  (
    SELECT
      a.id,
      a.user_id,
      a.is_circulation,
      a.target_time,
      a.detail,
      a.users,
      a.created,
      a.event_type_id,
      a.`count`,
      b.name as eventTypeName,
      1 as type
    FROM
      memo_affair a
    left join memo_event_type b  on a.event_type_id = b.id
    WHERE
        a.user_id = #{userId}
    UNION all
    SELECT
      a.id,
      a.user_id,
      a.is_circulation,
      a.target_time,
      a.detail,
      a.users,
      a.created,
      a.event_type_id,
      a.`count`,
      b.name as eventTypeName,
      2 as type
    FROM
     memo_affair a
      left join memo_event_type b  on a.event_type_id = b.id
    WHERE
      FIND_IN_SET(#{userId}, a.users )
        ) a
      LEFT JOIN app_user b ON b.id = a.user_id
     where
        detail LIKE concat('%',#{keyword},'%')
    </select>
    <select id="selectByKey" resultType="com.chouchongkeji.service.user.memo.vo.MemoItemVoV2">
        select a.id,
       a.user_id,
       a.target_time,
       a.detail,
       a.users,
       a.created,
       a.count,
       a.event_type_id,
       b.name as eventTypeName,
       c.nickname,
       c.avatar
from memo_affair a
         left join memo_event_type b on a.event_type_id = b.id
         left join app_user c on a.user_id = c.id
         where a.id = #{id}
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from memo_affair
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <!--<delete id="deleteByPrimaryKeyAndUserId">-->
    <!--delete from memo_activity-->
    <!--where id = #{id} and user_id = #{userId}-->
    <!--</delete>-->
    <insert id="insert" parameterType="com.chouchongkeji.dial.pojo.user.memo.MemoAffair">
    insert into memo_affair (id, user_id, target_time,
      title, detail, users,
      created, updated, `count`, is_circulation, event_type_id
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{targetTime,jdbcType=TIMESTAMP},
      #{title,jdbcType=VARCHAR}, #{detail,jdbcType=VARCHAR}, #{users,jdbcType=VARCHAR},
      now(), now(), #{count,jdbcType=INTEGER},#{isCirculation,jdbcType=TINYINT},#{eventTypeId,jdbcType=INTEGER}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.chouchongkeji.dial.pojo.user.memo.MemoAffair">
        insert into memo_affair
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="targetTime != null">
                target_time,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="detail != null">
                detail,
            </if>
            <if test="users != null">
                users,
            </if>
            <if test="created != null">
                created,
            </if>
            <if test="updated != null">
                updated,
            </if>
            <if test="count != null">
                count,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="targetTime != null">
                #{targetTime,jdbcType=TIMESTAMP},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="detail != null">
                #{detail,jdbcType=VARCHAR},
            </if>
            <if test="users != null">
                #{users,jdbcType=VARCHAR},
            </if>
            <if test="created != null">
                #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="updated != null">
                #{updated,jdbcType=TIMESTAMP},
            </if>
            <if test="count != null">
                #{count,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <insert id="insertBatch">
        insert into memo_affair (id, user_id, target_time,
        title, detail, users,
        created, updated, `count`, is_circulation, event_type_id
        )
        values
        <foreach collection="list" item="item" index="i" separator=",">
            (#{affair.id,jdbcType=INTEGER}, #{affair.userId,jdbcType=INTEGER},
            #{item},
            #{affair.title,jdbcType=VARCHAR}, #{affair.detail,jdbcType=VARCHAR}, #{affair.users,jdbcType=VARCHAR},
            now(), now(),
            #{affair.count,jdbcType=INTEGER},#{affair.isCirculation,jdbcType=TINYINT},#{affair.eventTypeId,jdbcType=INTEGER}
            )
        </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.chouchongkeji.dial.pojo.user.memo.MemoAffair">
        update memo_affair
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="targetTime != null">
                target_time = #{targetTime,jdbcType=TIMESTAMP},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="detail != null">
                detail = #{detail,jdbcType=VARCHAR},
            </if>
            <if test="users != null">
                users = #{users,jdbcType=VARCHAR},
            </if>
            <if test="created != null">
                created = #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="updated != null">
                updated = #{updated,jdbcType=TIMESTAMP},
            </if>
            <if test="count != null">
                count = #{count,jdbcType=INTEGER},
            </if>
            <if test="isCirculation != null">
                is_circulation = #{isCirculation,jdbcType=TINYINT},
            </if>
            <if test="eventTypeId != null">
                event_type_id = #{eventTypeId,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.chouchongkeji.dial.pojo.user.memo.MemoAffair">
    update memo_affair
    set user_id = #{userId,jdbcType=INTEGER},
      target_time = #{targetTime,jdbcType=TIMESTAMP},
      title = #{title,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR},
      users = #{users,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      updated = #{updated,jdbcType=TIMESTAMP},
      count = #{count,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateById">
        update memo_affair
    set
      users = null,
      count = null
    where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>
