<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chouchongkeji.dial.dao.user.memo.MomentPraiseMapper">
    <resultMap id="BaseResultMap" type="com.chouchongkeji.dial.pojo.user.memo.MomentPraise">
        <constructor>
            <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="moment_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="created" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="updated" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    id, moment_id, user_id, created, updated
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from moment_praise
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByMomentIdAndUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from moment_praise
        where moment_id = #{momentId} and user_id = #{userId}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from moment_praise
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByMomentId">
        delete from moment_praise
        where moment_id = #{momentId}
    </delete>
    <insert id="insert" parameterType="com.chouchongkeji.dial.pojo.user.memo.MomentPraise">
    insert into moment_praise (id, moment_id, user_id, 
      created, updated)
    values (#{id,jdbcType=INTEGER}, #{momentId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      now(), now())
  </insert>
    <insert id="insertSelective" parameterType="com.chouchongkeji.dial.pojo.user.memo.MomentPraise">
        insert into moment_praise
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="momentId != null">
                moment_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="created != null">
                created,
            </if>
            <if test="updated != null">
                updated,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="momentId != null">
                #{momentId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="created != null">
                #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="updated != null">
                #{updated,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.chouchongkeji.dial.pojo.user.memo.MomentPraise">
        update moment_praise
        <set>
            <if test="momentId != null">
                moment_id = #{momentId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="created != null">
                created = #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="updated != null">
                updated = #{updated,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.chouchongkeji.dial.pojo.user.memo.MomentPraise">
    update moment_praise
    set moment_id = #{momentId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      created = #{created,jdbcType=TIMESTAMP},
      updated = #{updated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>