<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chouchongkeji.dial.dao.user.memo.MomentCommentMapper">
  <resultMap id="BaseResultMap" type="com.chouchongkeji.dial.pojo.user.memo.MomentComment">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="t_comment_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="moment_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="target_user_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="content" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="type" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="created" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="updated" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, t_comment_id, moment_id, user_id, target_user_id, content, type, created, updated
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from moment_comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from moment_comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chouchongkeji.dial.pojo.user.memo.MomentComment">
    insert into moment_comment (id, t_comment_id, moment_id, 
      user_id, target_user_id, content, 
      type, created, updated
      )
    values (#{id,jdbcType=INTEGER}, #{tCommentId,jdbcType=INTEGER}, #{momentId,jdbcType=INTEGER}, 
      #{userId,jdbcType=INTEGER}, #{targetUserId,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{type,jdbcType=TINYINT}, now(), now()
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chouchongkeji.dial.pojo.user.memo.MomentComment">
    insert into moment_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="tCommentId != null">
        t_comment_id,
      </if>
      <if test="momentId != null">
        moment_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="targetUserId != null">
        target_user_id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="updated != null">
        updated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tCommentId != null">
        #{tCommentId,jdbcType=INTEGER},
      </if>
      <if test="momentId != null">
        #{momentId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="targetUserId != null">
        #{targetUserId,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="created != null">
        now(),
      </if>
      <if test="updated != null">
        now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chouchongkeji.dial.pojo.user.memo.MomentComment">
    update moment_comment
    <set>
      <if test="tCommentId != null">
        t_comment_id = #{tCommentId,jdbcType=INTEGER},
      </if>
      <if test="momentId != null">
        moment_id = #{momentId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="targetUserId != null">
        target_user_id = #{targetUserId,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="created != null">
        created = now(),
      </if>
      <if test="updated != null">
        updated = now(),
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chouchongkeji.dial.pojo.user.memo.MomentComment">
    update moment_comment
    set t_comment_id = #{tCommentId,jdbcType=INTEGER},
      moment_id = #{momentId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      target_user_id = #{targetUserId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      created = now(),
      updated = now()
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>