<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chouchongkeji.dial.dao.backpack.VbpMapper">

	<select id="selectByUserIdBpId" resultType="com.chouchongkeji.dial.pojo.backpack.Vbp">
SELECT
	*
FROM
	`v_bp`
WHERE
	user_id = #{userId}
	AND id = #{bpId}
	and quantity &gt; 0
    </select>


	<update id="updateQuantityById">
		update
		bp_item
		set quantity = quantity-#{quantity}
		where id = #{id}
		and quantity >= #{quantity}
	</update>
	<update id="updateQuantityByBpIdUserId">
		update
		bp_item
		set quantity = quantity-#{quantity}
		where id = #{bpId}
		and user_id = #{userId}
		and quantity >= #{quantity}
	</update>

</mapper>